@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&display=swap');

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.main-title {
    font-family: "Open Sans", sans-serif;   
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.main-paragraph {
    font-family: "Open Sans", sans-serif;
    text-align:justify;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #7a3eda;
    padding: 5px;
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.item {
    text-align: center;
    max-width: 300px;
    padding: 15px;
}

.item-title {
    font-family: "Open Sans", sans-serif;
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.item-image {
    width: 300px;
    height: 300px;
}

.catalog-items {
    max-width: 1366px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}


.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1366px;
    height: 300px;
}

.contacts-form {
    display: flex;
    justify-content: center;
}

.contacts-button {
    font-family: "Open Sans", sans-serif;
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.contacts-area {
    font-family: "Open Sans", sans-serif;
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;  
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .catalog-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .catalog-items {
        grid-template-columns: 1fr;
    }
}
  