.header {
    display: flex;
    justify-content: space-between;
    background-color: #7a3eda;
    padding: 5px;
}

.item {
    max-width: 300px;
    background-color: #dbdbdd;
    padding: 15px;
}

.item-image {
    width: 300px;
    height: 300px;
}

.catalog-items {
    max-width: 1366px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

@media (max-width: 768px) {
    .catalog-items {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .catalog-items {
      grid-template-columns: 1fr;
    }
}
  